.login-main-div {
    display: flex;
    width: 100%;
    height: 100vh;
}

.form-container {
    padding: 2.1rem;
}

input {
    width: 100%;
    outline: none;
    appearance: none;
}

h6 {
    color: #6b7280;
    font-size: 0.75rem;
}

button {
    margin-top: 2rem;
    width: 100%;
    max-width: 50%;
    border-radius: 1.5rem;
    height: 3rem;
    background-color: #000;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 400;
    transition: background-color 0.2s, color 0.2s, font-weight 0.2s;
    border: 2px solid #000;
}

button:hover {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}

.text-link {
    color: #6b7280;
}

.text-link:hover {
    color: #000;
}

.sign-up-link {
    color: #7c3aed;
    margin-left: 0.25rem;
}

.background-image {
    background-image: url('src/assets/marvel.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

.input-group {
    width: 100%;
    max-width: 24rem;
    height: 3rem;
    border: 1px solid #d1d5db;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5rem;
    margin-top: 1rem;
}

.icon {
    font-size: 1.4rem;
    margin-right: 0.5rem;
    color: gray;
}

.forgot-password-link {
    width: 100%;
    max-width: 24rem;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.75rem;
}

.login-button {
    margin-top: 2rem;
    width: 100%;
    max-width: 24rem;
    border-radius: 1.5rem;
    height: 3rem;
    background-color: #000;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 400;
    transition: background-color 0.2s, color 0.2s, font-weight 0.2s;
    border: 2px solid #000;
}

.login-button:hover {
    background-color: #fff;
    color: #000;
    font-weight: 600;
}
